<div id="menu">
  <img alt="Nike Logo" src="assets/imagenes/Logo.png">
  <hr>

  <!-- Saldra si el usuario que a iniciado sesion es un cliente -->
  <button *ngIf="info.rol == 'cliente'" routerLink="../carrito" titulo="CARRITO"><img src="assets/imagenes/carrito.png">
    <p>CARRITO</p>
  </button>

  <!-- Sale una vez el usuario a iniciado sesion -->
  <button *ngIf="info.rol == 'cliente' || info.rol == 'admin'" routerLink="../perfil" titulo="PERFIL"><img
      src="assets/imagenes/perfil.png">
    <p>PERFIL</p>
  </button>

  <!-- Saldra si el usuario que a iniciado sesion es un admin y replacara el boton del carrito -->
  <button *ngIf="info.rol == 'admin'" routerLink="../usuarios" routerLinkActive="active" titulo="REGISTRO"><img
      src="assets/imagenes/usuarios.png">
    <p>USUARIOS</p>
  </button>

  <button routerLink="../VerPedidos" routerLinkActive="active" titulo="PEDIDOS"><img
      src="assets/imagenes/carrito_foto.png">
    <p>PEDIDOS</p>
  </button>


  <button *ngIf="info.rol == 'admin'" routerLink="../VerPedidos" routerLinkActive="active" titulo="PEDIDOS"><img
      src="assets/imagenes/carrito_foto.png">
    <p>PUNTOS DE ENTREGA</p>
  </button>
</div>

<!-- Solo sera funcional si el usuario a iniciado sesion -->
<button id="policia" (click)="AdminClientePolicial()" routerLinkActive="active">
  <div>
    <img alt="Material Policial Logo" src="assets/imagenes/LogoPolicial.png">
    <p>MATERIAL POLICIAL</p>
  </div>
</button>

<!-- Solo sera funcional si el usuario a iniciado sesion -->
<button id="airsoft" (click)="AdminClienteAirsoft()" routerLinkActive="active">
  <div>
    <img alt="Material Airsoft Logo" src="assets/imagenes/LogoAirsoft.png">
    <p>AIRSOFT</p>
  </div>
</button>