<main>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <div class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img class="bi me-2" width="50" height="50" role="img" src="assets/imagenes/Logo.png" alt="">
          </div>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="../tienda" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Armamento</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Municion</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Granadas</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Proteccion</a></li>
          </ul>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
              aria-label="Search">
          </form>
          <div class="text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="{{info.photo}}" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" (click)="showButton1()">Categorias</a></li>
              <li><a class="dropdown-item" (click)="hideButton1()">Productos</a></li>
              <li><a class="dropdown-item" href="../perfil/">Perfil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </main>
  
  <ng-container *ngIf="element1 == true && element2 == true">
    <table id="producto">
      <tr>
        <td colspan="7">
          <button id="botonProductos" (click)="showButton2()">
            Crear un producto
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <hr>
        </td>
      </tr>
      <tr>
        <th>Foto:</th>
        <th>Nombre:</th>
        <th>Marca:</th>
        <th>Descripción:</th>
        <th>Cantidad:</th>
        <th>Precio:</th>
        <th>Categoria:</th>
      </tr>
  
      <tr id="materiales" *ngFor="let dato of materiales">
        <td><img id="foto" [src]="dato.img"></td>
        <td>{{dato.nombre}}</td>
        <td>{{dato.marca}}</td>
        <td>{{dato.descripcion}}</td>
        <td>{{dato.cantidad}}</td>
        <td>{{dato.precio}}</td>
        <td>{{dato.id_categoria}}</td>
      </tr>
  
    </table>
  </ng-container>
  
  <ng-container *ngIf="element1 == false && element3 == true">
    <table id="categoria">
      <tr>
        <td colspan="3">
          <button id="botonCategorias" (click)="showButton3()">Crear una categoria</button>
        </td>
      </tr>
  
      <tr>
  
        <td colspan="3">
  
          <hr>
  
        </td>
  
      </tr>
  
      <tr>
        <th>Nombre:</th>
        <th>Descripción:</th>
        <th>Tipo:</th>
      </tr>
  
      <tr *ngFor="let dato of categorias">
        <td>{{dato.nombre}}</td>
        <td>{{dato.descripcion}}</td>
        <td>{{dato.tipo}}</td>
      </tr>
  
    </table>
  </ng-container>
  
  <form id="crearProducto" *ngIf="element2 == false" [formGroup]="productosForm">
    <div id="titulo">
      <h1>
        <b>CREAR PRODUCTOS</b>
      </h1>
    </div>
  
    <div>
      <input formControlName="img" type="file" id="file" (change)="onFileChange($event)">
      <p id="error" *ngIf="this.productosForm.controls.img.hasError('required')">Campo vacio</p>
    </div>
  
    <div>
      <input formControlName="nombre" type="text" placeholder="Ponga el nombre:">
      <p id="error" *ngIf="this.productosForm.controls.nombre.hasError('required')">Campo vacio</p>
    </div>
  
    <div>
      <input formControlName="marca" type="text" placeholder="Ponga la marca:">
      <p id="error" *ngIf="this.productosForm.controls.marca.hasError('required')">Campo vacio</p>
    </div>
  
    <div>
      <input formControlName="descripcion" type="text" placeholder="Ponga una descripción:">
      <p id="error" *ngIf="this.productosForm.controls.descripcion.hasError('required')">Campo vacio</p>
    </div>
  
    <div>
      <input formControlName="cantidad" type="number" placeholder="Ponga una cantidad:">
      <p id="error" *ngIf="this.productosForm.controls.cantidad.hasError('required')">Campo vacio</p>
    </div>
  
    <div>
      <input formControlName="precio" type="text" placeholder="Ponga un precio:">
      <p id="error" *ngIf="this.productosForm.controls.precio.hasError('required')">Campo vacio</p>
    </div>
  
    <div>
      <input formControlName="id_categoria" type="text" placeholder="Ponga la id de la categoria:">
      <p id="error" *ngIf="this.productosForm.controls.id_categoria.hasError('required')">Campo vacio</p>
    </div>
  
    <div id="botones">
      <button id="registrar" [disabled]="!productosForm.valid" (click)="addProducto()"
        routerLink="../policial">CREAR</button>
      <button id="volver" (click)="hideButton2()">VOLVER</button>
    </div>
  </form>
  
  <form id="crearCategoria" *ngIf="element3 == false" [formGroup]="categoriasForm">
    <div id="titulo">
      <h1>
        <b>CREAR CATEGORIAS</b>
      </h1>
    </div>
  
    <div>
      <input formControlName="nombre" type="text" placeholder="Ponga el nombre:">
      <p id="error" *ngIf="this.categoriasForm.controls.nombre.hasError('required')">Campo vacio</p>
    </div>
  
    <div>
      <input formControlName="descripcion" type="text" placeholder="Ponga una descripción:">
      <p id="error" *ngIf="this.categoriasForm.controls.descripcion.hasError('required')">Campo vacio</p>
    </div>
  
    <div>
      <input formControlName="tipo" type="text" placeholder="Ponga el tipo:">
      <p id="error" *ngIf="this.categoriasForm.controls.tipo.hasError('required')">Campo vacio</p>
    </div>
  
    <div id="botones">
      <button id="registrar" [disabled]="!categoriasForm.valid" (click)="addCategoria()"
        routerLink="../tienda">CREAR</button>
      <button id="volver" (click)="hideButton3()">VOLVER</button>
    </div>
  </form>