#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 300px;
    background: rgba(217, 217, 217, 0.25);
    border-bottom-right-radius: 10px;
}

#menu>img {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 45px;
}

#menu>hr {
    position: absolute;
    top: 180px;
    left: 23px;
    width: 250px;
}

#menu>button {
    border: none;
    width: 280px;
    height: 50px;
    margin-top: 10px;
    margin-left: 9px;
    background: #B3B3B3;
}

#menu>button>p {
    margin-top: 11px;
}

#menu>button:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

#menu>button>img {
    width: 50px;
    float: left;
    margin-left: 5px;
}

#carrito {
    position: absolute;
    width: 1340px;
    height: 756px;
    left: 410px;
    top: 90px;

    background: rgba(217, 217, 217, 0.25);
    border-radius: 105px;
}

#carrito>#foto {
    position: absolute;
    width: 402px;
    height: 346px;
    left: 450px;
    top: 160px;
}

#carrito>p {
    position: absolute;
    width: 500px;
    left: 440px;
    top: 480px;
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ConfirmarEntrega {
    border: none;
    width: 280px;
    height: 50px;
    margin-top: 850px;
    margin-left: 950px;
    background: #B3B3B3;
}

#ConfirmarEntrega>p {
    margin-top: 11px;
}

#ConfirmarEntrega:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}